.example-viewport {
    height: 200px;
    width: 100%;
    border: 1px solid black;
}

.example-alternate {
    background: rgba(127, 127, 127, 0.3);
}

.example-select-all {
    float: right;
    margin-right: 32px;
}